html, body, div {
  /* background-color: #222; */
}

.active {
  color: #0f4;
}
.workspace {
  background-color: #222;
}

.tab-header {
  background-color: #000;
}
.tab-element {
  display: inline-block;
  padding: 4px;
  padding-left: 30px;
  padding-right: 30px;
  color: #ccc;
  cursor: pointer;
}

.tab-element:hover {
  color: #999;
}
.tab-element.selected {
  background-color: #222;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  flex: 1;
  height: 25px;
}

.header-text {
  min-width: 180px;
  padding: 10px;
}
.content-scrollable {
  flex: 8;
  display: flex;

}
.col-sticky {
  flex: 1;
  display: flex;
  border-right: 0px;
  width: 180px;
  flex-direction: column;
  position: relative;
}

.col-scrollable {
  flex: 8;
/*  overflow: scroll;*/
  flex-direction: column;
  margin-left: 4px;
}
/*https://stackoverflow.com/questions/41426872/flexbox-with-rotated-text*/

.row {
  /*background-color: #f1f1f1;*/
  margin-bottom: 10px;
  padding: 2px;
  height: 120px;
  font-size: 12px;
  display: flex;
  /*justify-content: space-around;*/

}

.row > div {

}

.display {
  position: relative;
  display: flex;
  height: 120px;
  flex-grow: 0;
  padding: 2px;
}

.video-holder {
  width: 180px;
  background-color: #000;
  position: relative;
   margin: 2px;
  padding: 0px;
  /*flex-grow: 1;*/
  display: flex;
}

/* .display > .video-holder {
  margin: 0px;
} */

.video-title {
  position: absolute;
  bottom: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  width: 100%;
  height: 20px;
  background-color: #333;
}

.display-title {
  font-style: italic;
}
.selectable:hover {
  cursor: pointer;
  border: 2px solid #666;
}

.selectable .selected {
  background-color: #ccc;
  color: #222;
}

.slider-container {
   width: 20px;


}

.slider {
  -webkit-appearance: none;
  background: #333;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 0px;
  transform: rotate(-90deg);
  transform-origin: 100% 0%;
  position: absolute;
  height: 20px;
  width: 116px;
  right: 20px;
  top: 0px;
}

.slider:hover {
    opacity: 0.8;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #666;
    border: 2px solid #333;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {

    background: #999;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
}
